html {
    background-color: white;
}

body {
    color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    padding-top: 50px;
    color: black;
}

.slogan {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    min-height: 100%;
    text-align: center;
    color: black;
}
.about {
    display: inline-block;
    text-align: left;
    color: black;
}

.navigation-links {
    margin-bottom: 5px;
    background-color: white;
    min-height: 42px;
    padding-left: 0;
}

.navigation-links ul {
    text-align: center;
    font-size: 15px;
}

.navigation-links li {
    display: inline-block;
    margin: 6px 10px;
    font-size: 25px;
}

.header {
    margin: 0 auto;
    text-align: center;
}

#register {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    border: 2px solid rgb(206, 206, 206);
    padding: 12px 12px;
    color: black;
}

.form-box {
    display: block;
    text-align: center;
    padding: 10px;

}

#login {
    border: 2px solid rgb(206, 206, 206);
    color: black;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding: 12px 12px;
}

#register label {
    width: 150px;
    text-align: left;
    float: left;
    margin: auto;
}

#login label {
    width: 150px;
    text-align: left;
    float: left;
    margin: auto;
}

.register-button {
   margin-top: 30px;
}

.login-button {
    margin-top: 30px;
}

.login-slogan {
    font-family: 'Pompiere';
    font-size: 20px;
    margin: 0 auto;
    /*min-height: 100%;*/
    text-align: center;
    color: black;
}

.bad-message {
    display: none;
    color: black;
}

.test-user {
    text-align: center;
}

.demo-message {
    display: inline-block;
    text-align: center;
    color: black;

}

.entry-container {
    border: 2px solid lightblue;
    flex: 0 1 24%;
    box-sizing: border-box;
    padding: 20px;
    margin: .5%

}

.dream-entries{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Barlow', sans-serif;
    /*justify-content: space-between;*/
    text-align: center;
}

.form {
    color: black;
    padding: 10px;
    font-family: 'Barlow', sans-serif;
    display: inline-block;
    
}

#new-entry label {
    width: 100px;
    text-align: left;
    float: left;
    margin: auto;
}

main {
    text-align: center;
}

.dream-entries {
    color: black;
}

#logout-button {
    color: black;
}

#entry-name {
    font-family: 'Barlow', sans-serif;
}

#entry-date {
    font-family: 'Barlow', sans-serif;
}

#entry-story {
    font-family: 'Barlow', sans-serif;
}

.home-buttons {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    background-color: #BBBBBB;

}

.home-buttons:hover{
    border-color:#DDDDDD;
}
    
.home-buttons:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

.nav-buttons {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    background-color: #BBBBBB;
}

.nav-buttons:hover{
    border-color:#DDDDDD;
}
    
.nav-buttons:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}

#settings {
    font-family: 'Barlow', sans-serif;
    margin: 5px;
}

#settings label {
    width: 150px;
    text-align: left;
    float: left;
    margin: auto;
}

.submit {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

.submit:hover{
    border-color:#DDDDDD;
}
    
.submit:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
}