html {
    background-color: #b3daff;
}

body {
    color: white;
}

h1 {
    font-family: 'Julius Sans One';
    font-size: 50px;
    padding-top: 50px
}

.slogan {
    font-family: 'Pompiere';
    font-size: 20px;
    margin: 0 auto;
    min-height: 100%;
    padding-left: 550px

}
.navigation-links {
    margin-bottom: 5px;
    background-color: #48adff;
    min-height: 42px;
    padding-left: 0;
}

.navigation-links ul {
    text-align: center;
    font-size: 15px;
}

.navigation-links li {
    display: inline-block;
    margin: 6px 10px;
    font-size: 25px;
}

.header {
    margin: 0 auto;
    text-align: center;
}

#register {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
}

.form-box {
    display: block;
    text-align: center;
    padding: 10px;

}
#register label {
    width: 150px;
    text-align: left;
    float: left;
    margin: auto;
}

.register-button {
    margin: 10px;
}

.login-button {
    margin: 10px;
}

.login-slogan {
    font-family: 'Pompiere';
    font-size: 20px;
    margin: 0 auto;
    min-height: 100%;
    text-align: center;
}
